body{
    background-color: #222;
    margin: 0%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    padding: 30px;
    border-radius: 1rem;
    justify-content: center;
    border:1rem solid ;
}
h1{
    font-size: xx-large;
    text-align: center;
    color: white;
    padding: 20px;
    text-shadow: 0px 5px rgb(124, 124, 124);
    font-weight: 900;
}
label{
    color: white;
    font-size: 17px;
    padding-bottom: 10px;
}
p{
    font-style: italic;
    font-weight: lighter;
    color: rgb(150, 150, 150);
}
#Uname{
    width: 300px;
    height: 30px;
    border: solid rgb(80, 82, 83) 3px 3px;
    border-radius: 0.8rem;
    padding-left: 8px;
    box-shadow: 0px 7px 15px rgb(177, 178, 178);
    
}
#pass{
    width: 300px;
    height: 30px;
    border: solid rgb(80, 82, 83) 3px;
    border-radius: 0.8rem;
    padding-left: 8px;
    box-shadow: 0px 7px 15px rgb(177, 178, 178);
}
#log{
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    width: 80px;
    height: 30px;
    font-weight: 600;

}
.btn{
    padding-left: 300px;
}



